* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    margin: 5px;
    background-color: aqua;
    border-radius: 15px;
    flex-shrink: 0;
}
.container {
    display: flex;
    flex-direction: column;
    border: solid cyan 3px;
    height: 500px;
    width: 300px;
    flex-wrap: wrap;
    padding: 15px;
}

.operators {
    display: flex;
    flex-wrap: wrap;
}

.output-display {
    width: 100%;
    height: 30px;
    border: solid blue 2px;
    display: flex;
    align-items: center;
}
.output {
    padding: 30px;
}

.number0 {
    flex: 1;
}